<h1>Pozdrav <%= @user.first_name %>!</h1>
<p>Primijetili smo da vas već neko vrijeme nema na platformi. Dođite i provjerite novosti!</p>
<p><a href="<%= root_url %>">Kliknite ovdje za povratak</a></p>
