<h1>Korisnički profil</h1>

<% if @user.profile_picture.present? %>
  <div class="mb-4">
    <%= image_tag @user.profile_picture.url(:large), alt: "Profilna slika", class: "w-32 h-32 rounded-full object-cover" %>
  </div>
<% end %>

<p><strong>Ime:</strong> <%= @user.first_name %> <%= @user.last_name %></p>
<p><strong>Email:</strong> <%= @user.email %></p>
