<h1 class="text-2xl font-bold mb-6">Administratori</h1>

<table class="w-full bg-white border border-gray-300 shadow-lg rounded-lg">
  <thead>
    <tr class="bg-gray-100 text-gray-700">
      <th class="py-3 px-4 border">Ime</th>
      <th class="py-3 px-4 border">Prezime</th>
      <th class="py-3 px-4 border">Email</th>
    </tr>
  </thead>
  <tbody>
    <% @administrators.each do |admin| %>
      <tr class="border-t hover:bg-gray-50">
        <td class="py-3 px-4 border"><%= admin.first_name %></td>
        <td class="py-3 px-4 border"><%= admin.last_name %></td>
        <td class="py-3 px-4 border"><%= admin.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="mt-6">
  <%= render 'kaminari/paginator', collection: @administrators %>
</div>
