<div class="container mx-auto mt-10">
  <h1 class="text-3xl font-bold text-center mb-8">Welcome to First Blog App</h1>

  <div class="flex justify-center space-x-4">
    <!-- Dugme za pregled svih korisnika -->
    <%= link_to "Pregled svih korisnika", users_path, 
                class: "bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded-lg shadow focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2" %>

    <%= link_to "Korisnici koje pratim", following_user_path(current_user), 
                class: "bg-green-500 hover:bg-green-600 text-white font-medium py-2 px-4 rounded-lg shadow focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2" %>
  </div>
</div>
